@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #19191A;
  --foreground: #E7E8EA;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button, a, input, textarea, select {
  outline: none !important;
  box-shadow: none !important;
}

button:focus, button:focus-visible, button:active, button:hover,
a:focus, a:focus-visible,
input:focus, input:focus-visible,
textarea:focus, textarea:focus-visible,
select:focus, select:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
